--find-links https://download.pytorch.org/whl/cpu
torch==2.5.1
easyocr==1.7.1

fastapi
uvicorn
joblib
scikit-learn==1.6.1
xgboost
pandas
numpy
PyPDF2
python-docx
requests
httpx
pytesseract
Pillow
pdf2image

